*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
body{
  color: rgb(255, 255, 255);
  background: rgb(20, 20, 20);
}
#bubbles{
  width: 100%;
  position: relative;
  display: flex;
  z-index: -100;
}
#bubbles span{
  position: relative;
  width: 30px;
  height: 30px;
  background-color: rgb(0, 150, 255);
  border-radius: 50%;
  margin: 0 4px;
  box-shadow: 0 0 10px rgba(0, 150, 255, 0.267), 0 0 50px rgb(0, 150, 255), 0 0 100px rgb(0, 150, 255);
  animation: animate 15s linear infinite;
  animation-duration: calc(250s / var(--i));
}
#bubbles span:nth-child(even){
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(255,255,255,0.267), 0 0 50px rgb(255, 255, 255), 0 0 100px rgb(255, 255, 255);

}
@keyframes animate {
  0%{
    transform: translateY(100vh) scale(0);
  }
  100%{
    transform: translateY(-10vh) scale(1);
  }
  
}
.container{
  padding: 10px 10%;
}
h1.sub-title{
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 20px;
}
h2.sub-title{
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}
span.highlight {
  color: rgb(0, 150, 255);
}

a.nav-link:link,
a.nav-link:visited,
a.nav-link:hover,
a.nav-link:active {
  color: rgb(0, 150, 255);
}
.paragraph {
  text-align: justify;
  text-justify: inter-word;
}

.see-more {
  padding: 50px;
  text-align: center;
}
.see-more button {
  background: none;
  color: rgba(0, 150, 255, 1);
  transition: 0.3s;
  padding: 16px 32px;
  font-size: 15px;
  border-radius: 30px;
  border-color: rgba(0, 150, 255, 1);
}
.see-more button:hover,
.see-more button:focus{
  box-shadow: 0 6px 20px rgb(41, 0, 255);
  color: rgb(255, 255, 255);
  border-color:  rgb(41, 0, 255);
  transform: translateY(-8px);
  cursor: pointer;
}
/* 

HEADER
 
*/
header{
  position: fixed;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 10px 10%;
  background-color: rgb(20,20,20);
}

header img {
  width: 140px;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  position: relative;
  transition: 0.3s;
}
nav ul li a.active{
  color: rgb(0, 150, 255);
  padding: 9px 25px;
  background-color: rgb(43, 43, 43);
  border-radius: 50px;
}
nav ul li a:hover{
  padding: 9px 25px;
  background-color: rgb(43, 43, 43);
  border-radius: 50px;
}
/* 

HOME
 
*/
.home {
  min-width: 100%;
  min-height: 100vh;
}
.home-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}
.introduction{
  padding: 37.5% 20%;
  font-size: 32px;
}
.introduction-image{
  text-align: center;
  padding: 30% 0;
}
.introduction-image img{
  background-color: rgb(0, 150, 255);
  border-radius:50%;
  width: 300px;
  height: 300px;
  transform: scale(1.5);
  object-fit: cover;
}
/* .home #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
} */
/* 

ABOUT
 
*/
#about {
  padding: 30px 0;
  min-height: 840px;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-1 {
  flex-basis: 35%;
}

.col-1 img {
  filter: grayscale(100%);
  width: 100%;
  border-radius: 25px;
  transition: 0.3s;
}

.col-1 img:hover {
  filter: grayscale(0%);
}

.col-2 {
  flex-basis: 60%;
}

.tab {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links{
  margin-right: 50px;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  font-weight: 500;
}
.tab-links:hover{
  color: rgb(0, 150, 255);
}
.tab-links::after{
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0%;
  height: 2px;
  background: rgb(0, 150, 255);
  transition: 0.3s;
}

.tab-links.active::after{
  width: 100%;
}

.bar {
  padding: 10px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 22, 0.9);
  transition: 0.2s;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 0px;
}
.bar .col-skill{
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
  font-size: 14px;
  color: rgb(0, 150, 255);
}
.tab-contents{
  display: none;
}
.tab-contents.active{
  display: block;
}
/*

ACHIEVMENTS

*/
#achievements {
  padding: 30px 0;
  min-height: 940px;
}
#achievements .sub-title{
  text-align: center;
}

.achievements-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.achievement {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.achievement img {
  width: 100%;
  display: block;
  transition: 0.3s;
}

.achievement-info h2 {
  font-weight: 500px;
  margin-bottom: 20px;
}

.achievement-info {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 30px;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgb(0, 150, 255));
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 0;
  transition: height 0.3s;
  overflow: hidden;
}

.achievement:hover .achievement-info {
  height: 100%;
}
/*

FUN FACT

*/
#fun-fact {
  padding: 30px 0;
}
.fun-fact-list {
  padding: 0 50px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 30px;
}
.fun-fact-item {
  display: grid;
  grid-template-columns: 10% 90%;
  background-color: rgba(0, 0, 22, 0.9);
  border-radius: 10px;
  padding: 20px 10px;
}

.fun-fact-item .icon {
  display: flex;
  background-color: white;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.fun-fact-item .text {
  padding: 0 16px;
}

.fun-fact-item .text p{
  padding: 4px 0;
  font-size: 14px;
  text-align: justify;
  text-justify: inter-word;
}
#see-more-fun-fact{
  margin-top: 50px;
  transition: 3s;
  display: none;
}
#see-more-fun-fact.active{
  display: block;
}
.three-youtube-videos{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  transition: 0.3s;
}
.favorite-youtube-video {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.favorite-youtube-video iframe{
  width: 100%;
  display: block;
}
/*

CONTACT

*/
#contact {
  padding: 30px 0;
  min-height: 830px;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
}
#contact .sub-title{
  font-weight: 600;
  padding-bottom: 50px;
  display: flex;
}
.contact-info{
  flex-basis: 35%;
}
.contact-item{
  font-size: 14px;
  padding-bottom: 10px;
  display: flex;
}
.contact-item i{
  color: rgb(0, 150, 255);
  padding: 0 16px;
}
.socials {
  padding-left: 10px;
}
.socials i {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 150, 255);
  border-radius: 50%;
  margin-left: 2px;
  font-size: 24px;
  padding: 5px;
}
.form-group {
  flex-basis: 65%;
}
.field {
  width: 100%;
  display: flex;
  margin: 16px;
  height: 50px;
}
.field i {
  position: absolute;
  color: rgb(34, 34, 34);
  padding: 0 16px;
  transform: translateY(16px);
  pointer-events: none;
}
form input,
form textarea{
  position: relative;
  border-radius: 5px;
  padding-right: 16px;
  padding-left: 36px;
  width: 100%;
  height: 100%;
  font-size: 16px;
  border: 1px solid rgb(34, 34, 34);
  background-color: rgba(146, 161, 176, 0.3);
  outline: none;
}

form input:focus,
form textarea:focus{
  border-color: rgb(0, 150, 255);
}
.field input:focus ~ i,
.field textarea:focus ~ i {
  color: rgb(0, 150, 255);
}

form textarea{
  resize: none;
  padding-top: 14px;
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
}

button.send {
  transform: translateX(16px);
  background-color: rgb(0, 150, 255);
  border: none;
  display: inline-block;
  border-radius: 5px;
  padding: 10px 16px;
}

button.send:hover {
  background-color: rgb(0, 150, 255);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

button.send:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/*

MEDIA RESPONSIVENES

*/
nav .fa-solid{
  display: none;
}
@media only screen and (max-width: 1028px) {
  .home-container{
    grid-template-columns: 100%;
  }
  .introduction {
    text-align: center;
    padding: 37.5% 0 0 0;
  }
  .introduction-image{
    padding-top: 0;
  }
  .introduction-image img{
    width: 200px;
    height: 200px;
  }
  nav .fa-solid{
    display: block;
    font-size: 24px;
    cursor: pointer;
  }
  nav ul {
    background-color: rgb(20, 20, 20);
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100%;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li{
    margin: 25px;
    display: block;
  }
  nav ul .fa-solid{
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 22px;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
}

@media only screen and (max-width: 1500px){
  .fun-fact-list {
    grid-template-columns: auto;
  }
  .fun-fact-item {
    grid-template-columns: 7% 93%;
  }
}
@media only screen and (max-width: 900px){
  .fun-fact-item{
    grid-template-columns: 15% 75%;
  }
}
@media only screen and (max-width: 700px){
  .fun-fact-item{
    grid-template-columns: 20% 80%;
  }
}
@media only screen and (max-width: 600px){
  .fun-fact-item{
    grid-template-columns: 30% 70%;
  }
}
@media only screen and (max-width: 500px){
  .fun-fact-item{
    grid-template-columns: 35% 65%;
  }
}