body{
  background-color: #212529;
}
#bubbles{
  width: 100%;
  position: relative;
  display: flex;
  z-index: -100;
}
#bubbles span{
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #5f5f5f;
  border-radius: 50%;
  margin: 0 4px;
  box-shadow: 0 0 10px #82828244, 0 0 50px #5f5f5f, 0 0 100px #5f5f5f;
  animation: animate 15s linear infinite;
  animation-duration: calc(250s / var(--i));
}
#bubbles span:nth-child(even){
  background-color: rgb(255, 255, 255);
  box-shadow: #ffffff44, 0 0 50px #ffffff, 0 0 100px #ffffff;

}
@keyframes animate {
  0%{
    transform: translateY(100vh) scale(0);
  }
  100%{
    transform: translateY(-10vh) scale(1);
  }
  
}
.navbar-brand{
  transform: translateX(75px);
}

.navbar-nav{
  transform: translateX(-75px);
}

.navbar-toggler{
  transform: translateX(-20px);
}

.home-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.home-photo{
  filter: grayscale(100%);
  box-shadow: 0px 4px 10px 4px #ffffff;
  border-radius: 50%;
  max-width: 50%;
  max-height: 50%;
  transition: 0.5s;
}

.home-photo:hover{
  filter: grayscale(0%);
}

.home-information{
  padding: 0 0 0 15%;
}
h1{
  color: #ffffff;
  font-size: 3rem;
}
h2{
  color: #ffffff;
  font-size: 2.5rem;
}
h4{
  color: #ffffff;
  font-size: 2rem;
}
p{
  color: #ffffff;
  font-size: 1.5rem;
}

@media only screen and (max-width: 576px){
  .navbar-brand{
    transform: translateX(20px);
  }
  .navbar-nav{
    transform: translateX(20px);
  }
  .home-information{
    margin-top: 100px;
  }
  .home-col{
    min-height: 50vh;
  }
  .home-photo{
    max-width: 75%;
    max-height: 75%;
  }
  .home-information{
    padding: 0;
  }
}